{% extends 'kettings/base.html' %}

{% block title %}{{ vform.get_label }} | Settings{% endblock %}

{% block static_css %}
	{{ super.block }}

	{{ form.media }}
{% endblock %}

{% block pretitle %}
	<h5 class="mb-0 small">{{ site.domain }}</h5>
	<h3>Settings for {{ vform.get_label }}</h3>
{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-md-2">
			{% for grp0 in vgroups %}
			<table class="module table table-bordered w-100 bg-white">
				<thead>
					<tr>
						<th>{{ grp0.get_label }}</th>
					</tr>
				</thead>
				<tbody>
				{% for grp1 in grp0.get_active_children %}
					<tr>
						<td>
							<a href='{% url "kettings:settings_editor" site.pk content_type.pk object_pk grp1.pk %}'>
								{{ grp1.get_label }}
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>

		<div class="col-md-10">

			<form method="post" action="." {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
				{% csrf_token %}

				<table class="table table-bordered bg-white shadow-sm">
					<thead>
						<tr>
							<th>Field</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						{{ form }}
					</tbody>

					<tfoot>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="Save" class="default" />
							</td>
						</tr>
					</tfoot>

				</table>

			</form>
		</div>
	</div>

{% endblock %}

