{% extends 'admin/base_site.html' %}

{% block title %}{{ vform.get_label }} | Settings{% endblock %}

{% block extrastyle %}
	{{ super.block }}
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

{% endblock %}

{% block pretitle %}
	<h5 class="mb-0 small">{{ site.domain }}</h5>
	<h3>Settings for {{ vform.get_label }}</h3>
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-md-2">
			{% for grp0 in vgroups %}
			<table class="module table table-bordered w-100">
				<thead>
					<tr>
						<th>{{ grp0.get_label }}</th>
					</tr>
				</thead>
				<tbody>
				{% for grp1 in grp0.get_active_children %}
					<tr>
						<td>
							<a href='{% url "kettings:settings_viewer" site.pk content_type.pk object_pk grp1.pk %}'>
								{{ grp1.get_label }}
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>

		<div class="col-md-10">

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Field</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						{% for val in values %}
							<tr>
								<td>{{ val.key }}</td>
								<td>{{ val.value }}</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>

		</div>
	</div>

{% endblock %}

